/* COMMON */

* {
    font-family: 'Roboto Mono';
    font-style: normal;
}

body {
    margin: 0px;
}

h1 {
    margin: 0;
    font-size: 60px;
    line-height: 74px;
    font-weight: 300;
}

h2 {
    margin: 0;
    font-size: 44px;
    line-height: 58px;
    font-weight: 300;
}

h4 {
    margin: 0;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
}

.button {
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 22px;
    text-transform: lowercase;
    padding: 0px 54px;
    cursor: pointer;
    text-decoration: none;
    line-height: 60px;
}

.button-sm {
    line-height: 52px;
}

.button-violet {
    background: #594DE1;
}

.button-green {
    background: #70C690;
}

.button-lemon-shadow {
    box-shadow: 5px -7px 0px 0px #F0FF92;
}

.card {
    background: #FFF8EB;
    padding: 34px 47px;
    border-radius: 12px;
    display: flex;
    flex-flow: column;
}

.card-green {
    background: #CFF8DF;
}

.card-lemon {
    background: #F3FFA8;
}

.section {
    padding: 0px 120px;
}

@media screen and (min-width: 1200px) {
    .section {
        max-width: 1200px;
    }
}

.columns {
    display: flex;
    flex-flow: column;
}

.rows {
    display: flex;
    flex-flow: row;
}

.f-between {
    justify-content: space-between;
}

.f-center {
    justify-content: center;
}

.f-align-center {
    align-items: center;
}

.m-0 {
    margin: 0
}

.mt-10 {
    margin-top: 10px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-110 {
    margin-top: 110px;
}

.mt-180 {
    margin-top: 180px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-50p {
    margin-left: 50%;
}

.ml-400 {
    margin-left: 400px;
}

.ml-210 {
    margin-left: 210px;
}

.w-30 {
    width: 29%;
}

.w-33 {
    width: 32%;
}

.w-40 {
    width: 39%;
}

.w-50 {
    width: 49%;
}

.w-60 {
    width: 59%;
}

.w-67 {
    width: 66%;
}

.w-70 {
    width: 69%;
}

.font-18 {
    font-size: 18px;
}

.font-24 {
    font-size: 24px;
}

.font-light {
    font-weight: 300;
}

.font-bold {
    font-weight: bold;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.lh-34 {
    line-height: 34.2px;
}

.lh-40 {
    line-height: 40.8px;
}

.ls-lower {
    letter-spacing: -0.03em;
}

.fixed {
    position: fixed;
}


/* HEADER */

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #56BE7D;
    z-index: 999;
}

.header-right,
.header-links {
    display: flex;
    flex-flow: row;
}

ul.header-links>li {
    list-style-type: none;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-right: 30px;
    font-size: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 60px;
}


/* CONTENT */

.content {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;

    margin-top: 80px;
    width: 100%;
    max-width: 100%;
    left: 0;
    top: 0;
    overflow-x: hidden;
}

#right-bg-code {
    top: 80px;
    right: 0;
    z-index: -999;
    width: 410px;
    height: 1219px;
    position: absolute;
}

#right-bg-code>div {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#right-bg-code>div::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -2%;
    left: 37%;
    z-index: -1;
    background: url(../images/binary-code.png);
    transform: rotate(12.39deg);
}

.stage {
    height: 320px;
    padding: 37px 66px;
    border: 2px solid #70C690;
    border-radius: 10px;
    width: calc(100% - 256px);
    margin-right: 25px;
}

.flickity-page-dots {
    right: 300px;
    width: auto;
}

.flickity-page-dots .is-selected {
    background: #70C690;
}

.flickity-prev-next-button {
    width: 100px;
    background: none;
    top: auto;
    bottom: -64px;
    border-radius: auto;
}

.flickity-prev-next-button:hover {
    background: none;
}

.flickity-prev-next-button.next {
    right: 120px;
}

.flickity-prev-next-button.previous {
    right: 580px;
    left: auto;
}

.flickity-prev-next-button .flickity-button-icon {
    width: 120%;
}

#faq,
#why-java {
    position: relative;
}

#faq {
    background: #FFF8EB;
    border-radius: 0px 90px 90px 90px;
}

#agenda {
    width: 100%;
}

#logo {
    position: absolute;
    top: 240px;
    left: 80px;
    z-index: -999;
}

#code-ellipse {
    position: absolute;
    right: 0;
    z-index: -999;
    top: 2800px;
}

#code-left {
    position: absolute;
    top: -265px;
    left: -580px;
    z-index: -999;
    transform: rotate(27.86deg);
}

#binary-code-left {
    position: absolute;
    z-index: -999;
    left: -360;
    top: 2150;
    transform: scaleX(-1) rotate(12.39deg);
}

#code-ellipse-small {
    position: absolute;
    z-index: -999;
    left: 0;
    top: 2050;
}