.announcement-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 2em;
  text-align: center;
}

.announcement-left, .announcement-right {
  display: flex;
  flex-flow: column;
  position: relative;
}

.announcement-left {
  justify-content: end;
}

.announcement-left > #announcement-left-cells {
  max-width: 140px;
  width: 80%;
  position: absolute;
  top: -4em;
  left: -4em;
}

.announcement-left > #logo {
  width: 150px;
  align-self: left;
  z-index: 999;
}

.announcement-content {
  position: relative;
  z-index: 999;
}

.announcement-content > div.h1 {
  color: var(--green);
  font-size: 4em;
  line-height: 1em;
  font-weight: 400;
  margin: 0;
}

.announcement-content > h2 {
  color: var(--white);
  font-size: 1.5em;
  font-weight: lighter;
}

.announcement-container #open-day-recording {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border: none;
}

#open-day-recording * {
  z-index: 999;
}

.announcement-right > #epam-logo {
  height: 64px;
  margin-top: 10px;
  align-self: flex-end;
}

.announcement-right > #announcement-right-cells {
  position: absolute;
  right: -4em;
  bottom: -4em;
  max-width: 350px;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .announcement-container {
    grid-template-columns: repeat(1, auto);
    padding: 1em;
  }

  .announcement-left, .announcement-right {
    display: none;
  }
  
  .announcement-content > div.h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 39.9375em) {
  .announcement-container {
    grid-template-columns: repeat(1, auto);
    padding: 1em;
  }

  .announcement-left, .announcement-right {
    display: none;
  }

  .announcement-content > div.h1 {
    font-size: 1.5em;
  }

  .announcement-content > h2 {
    font-size: 0.9em;
  }
}