.container {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  row-gap: 2em;
  padding: 0 4em;
  scroll-margin-top: 80px;
}

.container > h1 {
  font-weight: lighter;
  margin: 0;
  font-size: 3em;
}

.container.blue, .container.yellow {
  padding: 4em;
}

.container.blue {
  background-color: var(--blue);
}

.container.yellow {
  background-color: var(--yellow);
}

.anchor {
  top: -80px;
  position: relative;
  visibility: hidden;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .container{
    padding: 0 2em;
  }

  .container > h1 {
    font-size: 2em;
  }

  .container.blue, .container.yellow {
    padding: 2em;
  }
}

@media screen and (max-width: 39.9375em) {
  .container {
    padding: 0 1em;
    scroll-margin-top: 50px;
  }

  .container > h1 {
    font-size: 1.5em;
    font-weight: 400;
  }

  .container.blue, .container.yellow {
    padding: 1em;
  }

  .anchor {
    top: -50px;
  }
}