body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

html {
  scroll-behavior:smooth
}

html, body, #root, #container {
  width: 100%;
}

:root {
  --red: #cd4373;
  --white: #fff;
  --green: #56BE7D;
  --green-light: #CFF8DF;
  --yellow: #F3FFA8;
  --blue: #263852;
  --black: #101010;
  --purple: #594DE1;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  padding: 0 !important;
  height: 0 !important;
}