.contacts-container {
  display: flex;
  flex-flow: row;
  gap: 1em;
  align-items: center;
}

.contacts-container > a {
  color: var(--black);
  text-decoration: none;
  text-align: center;
}

.contacts-container > a > p {
  margin: 0;
}

@media screen and (max-width: 39.9375em) {
  .contacts-container svg {
    width: 32px;
    height: 32px;
  }

  .contacts-container > a > p {
    display: none;
  }
}